# Ignore Maven build output
target/
.mvn/wrapper/maven-wrapper.jar

# Ignore help files
HELP.md

### IntelliJ IDEA ###
**/.idea/
*.iws
*.iml
*.ipr

### Environment Variables ###
### .env ###
### *.env ###

### H2 Database ###
desktop/database/*
!desktop/database/.gitkeep
